#main_name{
    font-size: 30px;
    font-weight: 700;
    margin-top: 18px;
}

.container{
    display: flex;
    justify-content: center;
    
}
#logo{
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-top: 13px;
}

a{
    text-decoration: none;
    margin:0;
    padding:0;
}


#nav_ul{
    list-style:none;
    display:inline;
    transform: translate(-20%, -300%);
    margin-top: 30px;
}

.nav_li{
    display: inline;
    color:black;
    margin-left: 10px;
}

#nav{
    display: flex;
    justify-content: right;
}

#login{
    transform: translate(-100%, -230%);
}

hr{
    margin-top:-48px;
}

#lotte:hover{
    color:red;
}

#cgv:hover{
    color:red;
}

#login:hover{
    color:red;
}

.image-box{
    display: flex;
    flex-direction: row;
}

.top_Movie_Size{
    width: 200px;
    height: 250px;
}

#slider{
    overflow:hidden;
    position:relative;
    box-sizing: border-box;
}

.image-box{
    width: 5478px;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    animation: bannermove 20s linear infinite;
}

@keyframes bannermove {
    0%{
        transform: translate(0,0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}